{% extends 'main.html' %}
{% load static %}
{% block content %}
<div>
    <h1>Minha Loja</h1>
    {% for item in all_items %}
    <div class="container">
        <span class="card" style="height:250px">
            <p>ID: {{ item.id }}</p>
            <p>Nome: {{ item.product_name }}</p>
            <p>Tamanho: {{ item.product_size }}</p>
            <p>Preço: R$ {{ item.product_price }}</p>
            <p>{{ item.product_image }}</p>
            <p>
            <form action="/delete_item/{{item.id}}/" style="display: inline;" method="post">{% csrf_token %}
            <input type="submit" value="Delete"></form>
            </p>
        </span>
    </div>
    {% empty %}
    <div>
        <p>Nenhum produto a venda</p>
    </div>
    {% endfor %}
    <hr>
    <div style="display:inline-block">
        <p><b><u>Novo</u></b></p>
        <form action="/add_new_item/" method="post">{% csrf_token %}
            <p>Título do produto:</p>
            <input type="text" name="product_name">
            <br>
            <p>Tamanho (PP, P, M, G or GG):</p>
            <input type="text" name="product_size">
            <br>
            <p>Preço:</p>
            <input type="number" name="product_price">
            <br>
            <p>Descrição:</p>
            <input type="text" name="product_description">
            <br>
            <p>Imagem (nome do arquivo em templates/roupas):</p>
            <input type="text" name="product_image_path">
            <br><br>
            <input type="submit" value="Add">
        </form>
    </div>
</div>
{% endblock content %}
