{% load static %}
<footer>
    <hr>
    <a href="{% url 'home' %}">
        <img id="logo-icon-footer" class=".img-responsive" src="{% static 'images/bazarbrecho.png' %}" alt="Logo">
    </a>

    <div class="footer-icons">
        <a href="https://twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="https://www.linkedin.com/company/enjoei/"><ion-icon name="logo-linkedin"></ion-icon></a>
    </div>
    <p class="footer-company-name">Bazar Brechó © 2022</p>
</footer>
