{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="wrap">
    <h2>Lista de Roupas</h2>
    {% for item in all_items %}
    <div class="card">
        <div class="container">
            <a href="/detail/{{item.id}}/"><img src="{{ media_url }}{{ item.product_image }}" alt="{{ item.product_name }}" style="width:100%"></a>
            <a href="/detail/{{item.id}}/"><h4><b>{{ item.product_name }}</b></h4></a>
            <p>Tamanho: {{ item.product_size }}</p>
            <p>R$ {{ item.product_price }}</p>
            <p>
            <input type="submit" value="Comprar" style="width:40% display=inline">
            <form action="/detail/{{item.id}}/" style="width:40% display=inline" method="post">{% csrf_token %}
                <input type="submit" value="Ver detalhes">
            </form>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
