{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="wrap">
<p>
<button onclick="history.back()" class="btn"><i class="fa fa-arrow-left"></i></button>
</p>
    <div class="detail-card">
        <div class="inner-container">
            <img src="{{ selected_item.product.product_image }}" alt="{{ selected_item.product.product_name }}" style="width:100%">
            <h4><b>Descrição</b></h4>
            <p>{{ selected_item.product.product_description }}</p>
        </div>
        <div class="inner-container" style="text-align:left">
            <h2><b>{{ selected_item.product.product_name }}</b></h2>
            <p>Tamanho: {{ selected_item.product.product_size }}</p>
            <p>R$ {{ selected_item.product.product_price }}</p>
            <div>
            <input type="submit" value="Comprar" style="position:absolute bottom=0" data-product="{{selected_item.product.id}}" data-action="add" class="update-cart">
            </div>
        </div>
        <div class="inner-container">
            <h4><b>Informações do Vendedor</b></h4>
            <p>Bazar Brechó</p>
            <p>Este item é vendido pelo próprio Bazar Brechó</p>
        </div>
    </div>
</div>

{% endblock content %}
