{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="wrap">
<p>
<button onclick="history.back()" class="btn"><i class="fa fa-arrow-left"></i></button>
</p>
    <div class="detail-card">
        <div class="inner-container">
            <img src="{{ media_url }}{{ product.product_image }}" alt="{{ product.product_name }}" style="width:100%">
            <h4><b>Descrição</b></h4>
            <p>{{ product.product_description }}</p>
        </div>
        <div class="inner-container" style="text-align:left">
            <h2><b>{{ product.product_name }}</b></h2>
            <p>Tamanho: {{ product.product_size }}</p>
            <p>R$ {{ product.product_price }}</p>
            <div>
            <input type="submit" value="Comprar" style="position:absolute bottom:0">
            </div>
        </div>
        <div class="inner-container">
            <h4><b>Informações do Vendedor</b></h4>
            <!--TODO: Adicionar informações sobre o vendedor a partir do banco de dados-->
            <p>Bazar Brechó</p>
            <p>Este item é vendido pelo próprio Bazar Brechó</p>
        </div>
    </div>
</div>

{% endblock content %}
